<div style="padding-left: 30px">
	<dl>
	<dt><h2><%= email.object %></h2></dt>
	<dd><%= email.body %></dd>
	</dl>
	<a href="/emails/<%=@email.id%>" class="btn btn-danger" data-method="DELETE" data-remote = "true" >Supprimer</a><br><br>
	
	<a href="/emails/<%=@email.id%>" class="btn btn-success" id="google" data-method="put" data-remote = "true" >Marquer comme non-lu</a>

</div>

